<iframe src="https://mastodon.technology/@swagarch/102543281455233749/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://mastodon.technology/embed.js" async="async"></script>

